/* ___________________________ Ester INDEX ___________________________ */
section .forside {
  margin-bottom: 30px;
}

.forside_billede {
  width: 100%;
  aspect-ratio: 22/9;
  object-fit: cover;
}
.overskrift1 {
  position: absolute;
  z-index: 101;
  text-align: center;
  color: var(--beige);
  border: solid 4px var(--beige);
  text-transform: uppercase;
  margin: -110px 0 0 140px;
}

/* kategorier */
.kategorier {
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.openland {
  margin-bottom: 20px;
}

.openland_grid,
.forrest_grid {
  display: grid;
  grid-template-columns: 1fr;
}

.billede1,
.ramme1,
.titel1 h2 {
  grid-column: 1/1;
  grid-row: 1/1;
}
.billede2,
.ramme2,
.titel2 h2 {
  grid-column: 1/1;
  grid-row: 1/1;
}

.link-button {
  margin-top: 10px;
  display: inline-block;
  padding: 3px 15px;
  color: var(--brun);
  border: 2px solid var(--brun);

  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.link-button:hover {
  border: 2px solid var(--beige);
  background-color: var(--grøn);
  color: var(--beige);
}

footer {
  margin-top: 100px;
}
/* minumum 800px */
@media (min-width: 800px) {
  .forside {
    display: grid;
    grid-template-columns: 1fr;
  }

  .forside_billede .overskrift1 h1 {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .overskrift1 {
    margin: 270px 0 0 620px;
  }

  /* kategorier */
  .kategorier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    gap: 20px;
  }

  .openland {
    margin-bottom: 0px;
  }
}
