/* ___________________________ Ester INDEX ___________________________ */
section .forside {
  margin-bottom: 30px;
}

.forside_billede {
  width: 100%;
  aspect-ratio: 22/9;
  object-fit: cover;
}
.overskrift {
  position: absolute;
  z-index: 101;
  text-align: center;
  color: var(--beige);
  border: solid 4px var(--beige);
  text-transform: uppercase;
  top: 150px;
  margin: 0 0 0 110px;
}

/* kategorier */
.kategorier {
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.rammerne1 {
  background-image: url("/image/ramme1.svg");
  position: absolute;
  z-index: 101;
  width: 100%;
  padding: 110px;
  object-fit: cover;
}

.rammerne2 {
  background-image: url("/image/ramme1.svg");
  position: absolute;
  z-index: 101;
  width: 100%;
  padding: 110px;
}

.ramme_billede1 .ramme_billede2 {
  position: relative;
}

.openland h2,
.forrest h2 {
  position: relative;
  top: -100px;
  color: var(--beige);
}
.openland img,
.forrest img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.openland {
  margin-bottom: 20px;
}

.link-button {
  margin-top: 10px;
  display: inline-block;
  padding: 3px 15px;
  color: var(--brun);
  border: 2px solid var(--brun);

  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.link-button:hover {
  border: 2px solid var(--beige);
  background-color: var(--grøn);
  color: var(--beige);
}

footer {
  margin-top: 100px;
}
/* minumum 800px */
@media (min-width: 800px) {
  .overskrift {
    top: 230px;
    margin: 0 0 0 410px;
  }

  /* kategorier */
  .kategorier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    gap: 20px;
  }
  .openland {
    margin-bottom: 0px;
  }
}
