* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

html {
  --beige: #fcf2e8;
  --grøn: #00ab41;
  --font_sort: #000000;
  --font_hvid: #ffffff;
  --brun: #333333;
}

body {
  background-color: var(--beige);
}

/* ___________________________ font ___________________________ */
h1 {
  font-family: "ital", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

/* Breadcrumb start */
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: var(--brun);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--brun);
  text-decoration: none;
  font-size: 0.6rem;
  font-family: "Lato", sans-serif;
}

ul.breadcrumb li a:hover {
  color: red;
  text-decoration: none;
}
/* Breadcrumb slut */

/**-----------------------Rose-----------------------**/

/************---*desktop---******/

/* @media screen and (max-width: 800px) {
  .sun_flower {
    background-color: #ffffff;
  }

  .grid_produkt {
    margin: 2% 3% 2% 3%;
  }

  .produkt_img1 {
    border-radius: 100%;
    width: 400px;
    height: 400px;
    display: grid;
    margin-left: 25%;
    background-color: white;
    margin-top: -11%;
  }

  .produkt_kasse1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .overskift1 {
    color: #302718;
    font-size: 50px;
    margin-bottom: 3%;
  }

  .tekst1 {
    padding: 2%;
    order: 1;
  }

  .produkt_kasse2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 7%;
    gap: 52px;
  }

  .kasse1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #302718;
    color: #fcf2e8;
  }

  .kasse2-2 {
    margin-right: 20%;
    border: 2px solid #b03711;
  }

  .produkt_kasse3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10%;
  }

  .img3 {
    border-radius: 100%;
    width: 400px;
    height: 400px;
    margin-left: 17%;
  }

  .level_produkt {
    margin-bottom: -9%;
    margin-left: 35%;
  }

  .cirkel-seson {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #00ab41;
    z-index: 1;
    position: absolute;
    left: 79%;
    top: 121%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cirkel-seson::before {
    content: "Season";
    color: #fff;
    font-size: 16px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .produkt_kasse4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */
